* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*
#background-video {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
*/

/* Start home page */
body {
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', arial, sans-serif;
}

.content {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
}

.banner {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width:100%;
    height:auto;
    width: 50rem;
}

.welcome {
    font-size: 50px;
    max-width:100%;
    height:auto;
}

.text-box {
  background: black;
  border-radius: 50px;
  color: #fff;
  display:inline-block;
  margin-top: 40px;
  padding-top: 10px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  max-width:100%;
  height:auto;
}

.top-box {
    background: black;
    border-radius: 50px;
    color: #fff;
    display:inline-block;
    margin-top: 120px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width:100%;
    height:auto;
  }

.vpn-title, .casino-title {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width:100%;
    height:auto;
}

.intro, .vpn, .casino-desc {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 21px;
    max-width:100%;
    height:auto;
}

.intro a, .vpn a, .casino-desc a {
  color: white;
  font-weight: bold;
  max-width:100%;
  height:auto;
}

.vpn-image {
    width: 648px;
    height: 360px;
    max-width:100%;
    height:auto;
}
/* End home page */

/* Start Casinos page */
.casinotext {
    position: relative;
    padding-left: 10px;
    font-size: 25px;
    width: 400px;
    max-width:100%;
    height:auto;
}

.p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    max-width:100%;
    height:auto;
}

.casinologosr1 {
    margin-top: 30px;
    position: relative;
    justify-content: center;
    display: flex;
    gap: 50px;
    max-width:100%;
    height:auto;
}

.casinologosr2 {
    margin-top: 25px;
    position: relative;
    justify-content: center;
    display: flex;
    gap: 50px;
    max-width:100%;
    height:auto;
}
.casinologosr3  {
    margin-top: 25px;
    position: relative;
    justify-content: center;
    display: flex;
    gap: 50px;
    margin-bottom: 25px;
    max-width:100%;
    height:auto;
}

.title {
    text-align: center;
    margin-top: 100px;
    max-width:100%;
    height:auto;
}
/* End Casinos page */

/* Start Socials page */
body {
    background-color: rgb(100, 0, 0);
}

.socials-content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    max-width:100%;
    height:auto;
}

.social-button button {
    border: 2px solid grey;
    color: grey;
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    width: 750px;
    height: 75px;
    padding-right: 60px;
    
}

.social-button button:hover img {
    width: 100px;
    height: 65px;
    padding-top: auto;
    
}

.social-button button:hover {
    width: 850px;
    height: 100px;
    font-size: 65px;
    color: white;
    border: 2px solid white;
   
}

.social-icons {
    width: 75px;
    height: 40px;
    float: left;
    padding-top: 8px; 
    padding-right: 0px;
    
}

/* End socials page */

/* start live streams page */
.coming-soon {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 500px;
    max-width:100%;
    height:auto;
}

.coming-soon a {
    color: white;
    font-weight: bold;
    max-width:100%;
    height:auto;
}
/* end live streams page */

/* start videos page */

/* end videos page */


/* Start bonus hunts page*/
.test {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 500px;
    max-width:100%;
    height:auto;
}
/* end bonus hunts page*/

/* Start navbar */
.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    background-color: black;
    padding: 10px;
    max-width:100%;
    height:auto;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width:100%;
    height:auto;
}

.navbar-item {
    color: grey;
    margin-left: 20px;
    cursor: pointer;
    max-width:100%;
    height:auto;
}

.navbar-item:hover {
    color: white;
    font-size: 150%;
    max-width:100%;
    height:auto;
}

.navbar-item img:hover {
    width: 65px;
    height: 65px;
    max-width:100%;
    height:auto;
}

.navbar-right .navbar-item {
    background-color: black;
    border-radius: 30px;
    border: 2px solid grey;
    padding: 10px 25px;
    margin-right: 20px;
    color: grey;
    max-width:100%;
    height:auto;
}

.navbar-right .navbar-item:hover {
    border: 2px solid white;
    color: white;
    font-size: 150%;
    max-width:100%;
    height:auto;
}

.logo {
    width: 50px;
    max-width:100%;
    height:auto;
}

/* Start contact form */
.content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    max-width:100%;
    height:auto;
}

.contact {
    background-color: black;
    border-radius: 30px;
    border: 2px solid grey;
    padding: 10px 25px;
    margin-right: 20px;
    margin-top: 0px;
    color: grey;
    max-width:100%;
    height:auto;
}

.contact:hover {
    border: 2px solid white;
    color: white;
    font-size: 150%;
    cursor: pointer;
    max-width:100%;
    height:auto;
}

.content1 {
    margin-top: 25%;
    visibility: hidden;
    width: 400px;
    height: auto;
    background: #dde1e7;
    padding: 30px 35px 40px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width:100%;
    height:auto;
}

.text {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    max-width:100%;
    height:auto;
}

form {
    margin-top: 40px;
    
}

input {
    padding-left: 5px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    
}

input {
    display: block;
    height: 43px;
    width: 100%;
    border-radius: 3px;
    border: none;
    margin-top: 8px;
    font-size: 14px;
    border: none;
   
}

::placeholder {
    color: #4b4e4d;
    padding-left: 5px;
    
}

.submit {
    width: 100%;
    margin-top: 35px;
    padding: 12px;
    background: white;
    border: none;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 32px;
    cursor: pointer;
}

.submit:hover {
    background-color: green;
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: black;
    border: none;
    cursor: pointer;
    background-color: #dde1e7;
    font-size: 20px;
    max-width:100%;
    height:auto;
}

.btn-close:hover {
    font-size: 20px;
    color: red;
    max-width:100%;
    height:auto;
}
/* End contact form */
/* End navbar */

/* Start footer */
.footer {
    position: relative;
    height: 350px;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: black;
    max-width:100%;
    height:auto;
}

.inner-footer {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    max-width:100%;
    height:auto;
}

.inner-footer .logo-container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    max-width:100%;
    height:auto;
}
  
.inner-footer .logo-container img {
    width: 65%;
    height: auto;
    max-width:100%;
    height:auto;
}

.inner-footer .footer-third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    max-width:100%;
    height:auto;
}

.inner-footer .footer-third:last-child {
    margin-right: 0;
    max-width:100%;
    height:auto;
}

.inner-footer .footer-third h1{
    font-size: 25px;
    color: white;
    display: block;
    width: 120%;
    margin-bottom: 20px;

}

.inner-footer .footer-third a {
    font-weight: 200px;
    font-size: 18px;
    color: grey;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;;
    
}

.inner-footer .footer-third a:hover {
    color: white;
    font-size: 150%;
    
}

.inner-footer .footer-third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
    
}

.inner-footer .footer-third span {
    color: white;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
    
}

ul.social-media-list img {
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    width: 36px;
    height: 36px;
    
}

ul.social-media-list img:hover {
    width: 50px;
    height: 50px;
    
}

ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

@media(max-width: 600px) {
    .footer .inner-footer {
        width: 90%;
    
    }
    .inner .logo-container, .inner-footer .footer-third {
        width: 100%;
        margin-bottom: 30px;
        
    }
}

.gamble-aware {
    width: 200px;
    height: 100px;

}
/* End footer */

/* Mobile stuff */
@media screen and (max-width: 768px) {
    /* Start home page */
body {
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', arial, sans-serif;
}

.content {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
    max-width: 100%;
}

.banner {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vw;
    max-width:100%;
    height:auto;
    width: 50rem;
}

.welcome {
    font-size: 10vw;
    max-width:100%;
    height:auto;
}

.text-box {
  background: black;
  border-radius: 1vw;
  color: #fff;
  display:inline-block;
  max-width:100%;
  height:auto;
}

.top-box {
    background: black;
    border-radius: 50px;
    color: #fff;
    display:inline-block;
    max-width:100%;
    height:auto;
  }

.vpn-title, .casino-title {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width:100%;
    height:auto;
}

.intro, .vpn, .casino-desc {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 21px;
    max-width:100%;
    height:auto;
}

.intro a, .vpn a, .casino-desc a {
  color: white;
  font-weight: bold;
  max-width:100%;
  height:auto;
}

.vpn-image, .casino-image {
    width: 648px;
    height: 360px;
    max-width:100%;
    height:auto;
}


/* End home page */

/* Start navbar */
.navbar {
    z-index: 1;
    position: fixed;
    width: 99%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    background-color: black;
    padding: 10px;
    max-width:100%;
    height:auto;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width:100%;
    height:auto;
}

.navbar-item {
    color: grey;
    margin-left: 20px;
    cursor: pointer;
    max-width:100%;
    height:auto;
}

.navbar-item:hover {
    color: white;
    font-size: 150%;
    max-width:100%;
    height:auto;
}

.navbar-item img:hover {
    width: 65px;
    height: 65px;
    max-width:100%;
    height:auto;
}

.navbar-right .navbar-item {
    background-color: black;
    border-radius: 30px;
    border: 2px solid grey;
    padding: 10px 25px;
    margin-right: 20px;
    color: grey;
    max-width:100%;
    height:auto;
}

.navbar-right .navbar-item:hover {
    border: 2px solid white;
    color: white;
    font-size: 150%;
    max-width:100%;
    height:auto;
}

.logo {
    width: 50px;
    max-width:100%;
    height:auto;
}

/* Start contact form */
.content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    max-width:100%;
    height:auto;
}

.contact {
    background-color: black;
    border-radius: 30px;
    border: 2px solid grey;
    padding: 10px 25px;
    margin-right: 20px;
    margin-top: 0px;
    color: grey;
    max-width:100%;
    height:auto;
}

.contact:hover {
    border: 2px solid white;
    color: white;
    font-size: 150%;
    cursor: pointer;
    max-width:100%;
    height:auto;
}

.content1 {
    margin-top: 25%;
    visibility: hidden;
    width: 400px;
    height: auto;
    background: #dde1e7;
    padding: 30px 35px 40px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width:100%;
    height:auto;
}

.text {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    max-width:100%;
    height:auto;
}

form {
    margin-top: 40px;
    
}

input {
    padding-left: 5px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    
}

input {
    display: block;
    height: 43px;
    width: 100%;
    border-radius: 3px;
    border: none;
    margin-top: 8px;
    font-size: 14px;
    border: none;
   
}

::placeholder {
    color: #4b4e4d;
    padding-left: 5px;
    
}

.submit {
    width: 100%;
    margin-top: 35px;
    padding: 12px;
    background: white;
    border: none;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 32px;
    cursor: pointer;
}

.submit:hover {
    background-color: green;
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: black;
    border: none;
    cursor: pointer;
    background-color: #dde1e7;
    font-size: 20px;
    max-width:100%;
    height:auto;
}

.btn-close:hover {
    font-size: 20px;
    color: red;
    max-width:100%;
    height:auto;
}
/* End contact form */
/* End navbar */

}